@{
    ViewBag.Title = "Home Page";
}

<div style="background-image: url(&quot;../assets/img/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg&quot;);background-repeat: no-repeat;height: 100vh;width: 100%;background-position: top;background-size: cover;">
    <div class="container-fluid" style="padding: 50px 25px;">
        <h1 class="text-left text-white mb-1" style="font-family: Aldrich, sans-serif;">GYMAPP<br></h1>
        <h1 class="display-4 text-left text-white mb-1" style="font-family: Aldrich, sans-serif;color: none;">TURNS YOUR<br>LIFE<strong style="color: rgb(78,115,223);">&nbsp;AROUND</strong><br></h1>
    </div>
</div>
