@model  IEnumerable<GymApplication.Models.Invoice>
@{
    ViewBag.Title = "InvoiceSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
<link rel="stylesheet" href="~/assets/fonts/fontawesome-all.min.css">
<link rel="stylesheet" href="~/assets/fonts/simple-line-icons.min.css">
<link rel="stylesheet" href="~/assets/css/Bootstrap-4---Table-Fixed-Header.css">
<link rel="stylesheet" href="~/assets/css/Footer-Dark.css">
<link rel="stylesheet" href="~/assets/css/Pricing-Grid.css">

<style>

    tr:hover {
        background-color: aliceblue;
        cursor: pointer
    }
</style>

<div class="container-fluid">
    <h3 class="text-dark mb-4">Invoices</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Invoices</p>
        </div>
        <div class="card-body">


            @if (!Model.Any())
            {
                <p>We don't have any Invoice</p>
            }
            else
            {

                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table dataTable my-0 mydatatable" id="dataTable">
                        <thead>
                            <tr>
                                <th>Invoice #</th>
                                <th>Date Time</th>
                                <th>Total Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var invoice in Model)
                            {
                                <tr>
                                    <td>@invoice.Id</td>
                                    <td>@invoice.InvoiceDateTime</td>
                                    <td>@invoice.TotalPrice $</td>
                                    <td data-invoice-id = "@(invoice.Id)">
                                        <button class="btn btn-primary view">View</button>
                                    </td>
                                </tr>
                            }

                        </tbody>

                        <tfoot>
                            <tr>
                                <th>Invoice #</th>
                                <th>Date Time</th>
                                <th>Total Price</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>


            }

        </div>
    </div>

    @**************Start of View button Modal *****************@
    <div id="myModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">View</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <h5>Invoice #</h5>
                        </div>
                    </div>

                    <div class="row d-inline justify-content-start">
                        <div class="col">
                            <div class="form-group">
                                <ul id="item" class="list-group">
                                    @*Jquery barcode scans renders li's here*@
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item  list-group-item-primary"><span>Total Price</span><span id="totalPrice" class="float-right">0 $</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>

<link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
<link rel="stylesheet" href="~/assets/fonts/fontawesome-all.min.css">
<link rel="stylesheet" href="~/assets/fonts/simple-line-icons.min.css">
<link rel="stylesheet" href="~/assets/css/Bootstrap-4---Table-Fixed-Header.css">
<link rel="stylesheet" href="~/assets/css/Footer-Dark.css">
<link rel="stylesheet" href="~/assets/css/Pricing-Grid.css">

@section scripts{
    
    <script>
        //Get info from api and display them in the modal
        $(".btn.btn-primary.view").click(function () {
            var invoiceId = $(this).parent().attr('data-invoice-id');
            $("#myModal").modal("show");
            $.ajax({
                type: 'GET',
                url: '/api/purchases',
                success: function (data) {
                    $.each(data, function (i, invoice) {
                        if (invoice.id == invoiceId) { 
                            $('h5').text("Invoice #" + invoice.id);
                            $('.modal-footer').attr("data-invoice-id",invoice.id)
                            $('#totalPrice').replaceWith('<span id="totalPrice" class="float-right">' + invoice.totalPrice + ' $</span>');
                            $.each(invoice.items, function (j, item) {
                                $('#item').append('<li id = "' + item.id + '" class="list-group-item list-group-item-action"><span>' + item.name + '</span><span class="float-right">' + item.actualPrice + ' $</span></li>');

                        });
                        }
                    });
                }
            });
        });

        //Clear the li  in the ul once you close the modal
        $("#myModal").on("hide.bs.modal", function () {
            $('#item').empty();
        });

        //Delete action event
        $('.btn.btn-danger').click(function () {

            console.log($(this).parent().attr('data-invoice-id'))
            $.ajax({
                url: '/api/purchases/' + $(this).parent().attr('data-invoice-id'),
                method: 'DELETE',
                success: function () {
                    location.reload(true);
                }
            });
        });
    </script>    
    }

