
@{
    ViewBag.Title = "Membership Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h3 class="text-dark mb-1">Membership Plans</h3>
</div><div class="pricing6 py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="mb-3">Pricing to make your Work Effective</h3>
            </div>
        </div>
        <!-- row  -->
        <div class="row mt-4">
            <!-- column  -->
            <div class="col-md-6">
                <div class="card card-shadow border-0 mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center">
                            <h5 class="font-weight-medium mb-0">Plan One</h5>
                            <div class="ml-auto"><span class="badge badge-danger font-weight-normal p-2">Popular</span></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 text-center">
                                <div class="price-box my-3">
                                    <sup>$</sup><span class="text-dark display-5">50</span>
                                    <h6 class="font-weight-light">MONTHLY</h6>
                                    <a class="btn btn-info-gradiant font-14 border-0 text-white p-3 btn-block mt-3" href="#">CHOOSE PLAN </a>
                                </div>
                            </div>
                            <div class="col-lg-7 align-self-center">
                                <ul class="list-inline pl-3 font-14 font-weight-medium text-dark">
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>6 Days a Week </span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Dedicated Trainer</span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Diet Plan Included </span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Test</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-md-6">
                <div class="card card-shadow border-0 mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center">
                            <h5 class="font-medium m-b-0">Plan Two</h5>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 text-center">
                                <div class="price-box my-3">
                                    <sup>$</sup><span class="text-dark display-5">130</span>
                                    <h6 class="font-weight-light">QUARTERLY</h6>
                                    <a class="btn btn-info-gradiant border-0 font-14 text-white p-3 btn-block mt-3" href="#">CHOOSE PLAN </a>
                                </div>
                            </div>
                            <div class="col-lg-7 align-self-center">
                                <ul class="list-inline pl-3 font-14 font-weight-medium text-dark">
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>6 Days a Week </span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Dedicated Trainer</span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Diet Plan Included </span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Test</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column  -->
        </div>
        <!-- row  -->
        <div class="row mt-4">
            <!-- column  -->
            <div class="col-md-6">
                <div class="card card-shadow border-0 mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center">
                            <h5 class="font-weight-medium mb-0">Plan Three</h5>
                            <div class="ml-auto"><span class="badge badge-danger font-weight-normal p-2"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 text-center">
                                <div class="price-box my-3">
                                    <sup>$</sup><span class="text-dark display-5">240</span>
                                    <h6 class="font-weight-light">BIANNUALY</h6>
                                    <a class="btn btn-info-gradiant font-14 border-0 text-white p-3 btn-block mt-3" href="#">CHOOSE PLAN </a>
                                </div>
                            </div>
                            <div class="col-lg-7 align-self-center">
                                <ul class="list-inline pl-3 font-14 font-weight-medium text-dark">
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>6 Days a Week </span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Dedicated Trainer</span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Diet Plan Included </span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Test</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-md-6">
                <div class="card card-shadow border-0 mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center">
                            <h5 class="font-medium m-b-0">Plan Four</h5>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 text-center">
                                <div class="price-box my-3">
                                    <sup>$</sup><span class="text-dark display-5">460</span>
                                    <h6 class="font-weight-light">YEARLY</h6>
                                    <a class="btn btn-info-gradiant border-0 font-14 text-white p-3 btn-block mt-3" href="#">CHOOSE PLAN </a>
                                </div>
                            </div>
                            <div class="col-lg-7 align-self-center">
                                <ul class="list-inline pl-3 font-14 font-weight-medium text-dark">
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>6 Days a Week </span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Dedicated Trainer</span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Diet Plan Included </span></li>
                                    <li class="py-2"><i class="icon-check text-info mr-2"></i> <span>Test</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column  -->
        </div>
    </div>
</div>

